h1 {
    color: rgb(247, 247, 247);
    text-align: center;
    background: rgb(230, 24, 127);
    border-radius: 10px 10px 10px 10px;
    font-family: Inter, bold;
    font-size: 50px;
    padding: 5px 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, regular;
    height: 100vh;
    background-image: radial-gradient(rgb(206, 0, 144), rgb(214, 112, 182), rgb(243, 184, 238));
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
}

select, input, textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    font-family: Inter, regular;
    font-size: 16px;
}

textarea {
    height: 150px;
}

#buttons {
    display: flex;
}

#buttons button {
    color: rgb(241, 245, 249);
    background: rgb(230, 24, 127);
    border: 0;
    width: 50%;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px;
    margin: 0 10px;
}

#buttons button:active {
    top: 2px;
}